<h1>Rock, Paper, Scissors</h1>

<u><h2>Rules</h2></u>

<p>Both players put a hand behind their back</p>
<p>One player starts counting from one to three</p>
<p>During the count each player must decide which of rock, paper or scissors they wish to select</p>
<p>"On three, each player brings their hand from behind their back, revealing it to be in the shape of:
  Rock (hand will be in a fist)
  Paper (hand will be held out flat)
  Scissors (hand will have two fingers sticking out but not in an offensive way)"
<p>Note: Sometimes some mad person will decide that "on three" is coterminous with "after three" and the reveal
  will effectively happen after 4"
<p>The game is non-transitive and the winner is determined by the following scenarios</p>
<p>If one player has rock and the other has scissors then the player with rock wins</p>
<p>If one player has rock and the other has paper then the player with paper wins</p>
<p>If one player has scissors and the other has paper then the player with scissors</p>
<p>If both players have the same then the game is repeated until someone wins</p>
